@import '../../css/scss/abstracts/index';
$cart-width: 352px;
.cart {
  z-index: 30000;
  background-color: rgba(#000, 0.4);
  overflow: hidden;
  .cart-elm {
    width: $cart-width;
    right: 0;
    @include responsive(xs) {
      width: 100%  !important;
    }
  }
}
.in {
  animation: getIn 0.3s;
}


@keyframes getIn {
  0% {
    right: -$cart-width;
  }
  100% {
    right: 0 !important;
  }
}

