.signin-form {
  .content {
    background-color: rgba($color-purple-3, 0.5);
    border-radius: 20px;
    width: 50%;
    @include responsive(md) {
      width: 75%;
    }
    @include responsive(sm) {
      width: 95%;
    }
    @include responsive(xs) {
      width: 100%;
    }

    p,a {
      font-size: 13px !important;
      &::first-letter {
        text-transform: capitalize;
      }
    }
    
  }
}
