.unauth-navbar {
  .links {
    a {
      color: $color-text-1;
      font: {
        weight: 500;
        size: 15px;
      }
    }
    a:last-of-type {
        @include responsive(xs) {
            display: none;
        }
    }
  }
}
