* {
  &::selection {
    background-color: rgba($color-brand-purple, 0.2);
  }
}
body {
  padding-top: $navbar-height;
  font-family: Inter;
}

.disabled {
  opacity: 0.3;
}

.color-text-1 {
  color: $color-text-1 !important;
}
.color-text-2 {
  color: $color-text-2 !important;
}
.color-text-3 {
  color: $color-text-3 !important;
}
.color-text-4 {
  color: $color-text-4 !important;
}
a {
  text-decoration: none;
}

ul {
  list-style: none !important;
  margin: 0;
  padding: 0;
}

button,input {
  background: none !important;
  border: 0;
  outline: none !important;
}



@include responsive(xl) {
  @each $head, $size in (h1, $font-size-h1-xl), (h2, $font-size-h2-xl),
    (h3, $font-size-h3-xl), (h4, $font-size-h4-xl), (h5, $font-size-h5-xl),
    (h6, $font-size-h6-xl)
  {
    #{$head} {
      font-size: $size;
    }
  }
}

@include responsive(lg) {
  @each $head, $size in (h1, $font-size-h1-lg), (h2, $font-size-h2-lg),
    (h3, $font-size-h3-lg), (h4, $font-size-h4-lg), (h5, $font-size-h5-lg),
    (h6, $font-size-h6-lg)
  {
    #{$head} {
      font-size: $size;
    }
  }
}

@include responsive(md) {
  @each $head, $size in (h1, $font-size-h1-md), (h2, $font-size-h2-md),
    (h3, $font-size-h3-md), (h4, $font-size-h4-md), (h5, $font-size-h5-md),
    (h6, $font-size-h6-md)
  {
    #{$head} {
      font-size: $size;
    }
  }
}

@include responsive(sm) {
  @each $head, $size in (h1, $font-size-h1-sm), (h2, $font-size-h2-sm),
    (h3, $font-size-h3-sm), (h4, $font-size-h4-sm), (h5, $font-size-h5-sm),
    (h6, $font-size-h6-sm)
  {
    #{$head} {
      font-size: $size;
    }
  }
}
@include responsive(xs) {
  @each $head, $size in (h1, $font-size-h1-xs), (h2, $font-size-h2-xs),
    (h3, $font-size-h3-xs), (h4, $font-size-h4-xs), (h5, $font-size-h5-xs),
    (h6, $font-size-h6-xs)
  {
    #{$head} {
      font-size: $size;
    }
  }
}

%btn {
  border-radius: $border-radius-2;
  padding: 13px 25px;
  font-size: 1rem;
  font-weight: 500;
  transition: $transition-speed;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 15px
}

.btn-one {
  @extend %btn;
  padding: 13px 25px;
  border-radius: 13px;
  color: $color-white !important;
  background-color: $color-purple-2 !important;
  @include color-hover($color-purple-4, $color-white);
  border: $border-width solid transparent !important;
}
.btn-two {
  @extend %btn;
  border: $border-width solid $color-purple-5;
  background-color: $color-white;
  color: $color-purple-2;
  @include color-hover($color-purple-2, $color-white);
}
.btn-light {
  @extend %btn;
  color: $color-white;
  background-color: $color-white-transparent;
  border: $border-width solid transparent;
  @include color-hover($color-white, $color-black);
  font-weight: 500;
}

.btn-tag {
  @extend %btn;
  color: $color-text-1;
  background-color: $color-purple-2;
  border-radius: $border-radius-1 !important;
  padding: 0 20px !important;
  border: $border-width solid transparent;
  font-size: .9rem !important;
  font-weight: 500;
  @include color-hover($color-text-2, $color-text-3);
}


.transition-enter {
  opacity: 0;
}
.transition-enter-active {
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}
.transition-exit {
  opacity: 1;
}
.transition-exit-active {
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
