.carousel {
  .slick-dots {
    bottom: 10px !important;
    margin: 0 !important;
    li {
      button {
        &::before {
          width: 1px;
          height: 1px;
          border: 3px solid $color-brand-purple;
          content: "";
          text-align: center;
          border-radius: 50%;
          color: transparent;
        }
      }
    }
  }
}
