.search-box {
  input {
    color: rgba($color-text-1, 0.7);
    &::placeholder {
      color: inherit;
    }
  }
  button {
    width: 50px;
    &::before {
      width: 1px;
      height: 30px;
      display: block;
      content: "";
      background-color: rgba($color-text-1, 0.4);
    }
  }
}
