.add-to-favourite {
  color: $color-text-3;
  position: relative;
  &::before {
    opacity: 0;
    content: "Wilshlist";
    text-align: center;
    color: $color-white;
    background-color: darken($color-text-3, 10%);
    font-size: 11px;
    padding: 5px 1px;
    border-radius: 5px;
    position: absolute;
    width: 53px;
    top: -29px;
    left: -12px;
    transition: $transition-speed;
  }
  &:hover::before {
    opacity: 1;
  }
  &:hover {
    color: $color-brand-purple;
  }
}
.active {
  color: $color-brand-purple;
}
