.review-card {
  box-shadow: 0 0 10px -5px $color-black;
  border-radius: 20px;
  max-width: 350px;
  
 
  .product-info {
    .image {
      img {
        width: 100%;
      }
    }
    .product-name {
      font : {
        size: 15px;
        weight: 500;
      }
    }
  }
  .review {
    border-bottom: 1px solid rgba($color-text-1, 0.2) !important;
    font : {
      size: 15px;
      weight: 500;
    }
    color: rgba($color-text-1, 0.7);
  }
  .reviewer-info {
    .image {
      width: 60px;
      height: 60px;
    }

    .reviewer-name {
      font : {
        size: 15px;
        weight: 500;
      }
      &::first-letter {
          text-transform: uppercase;
      }
    }
  }
}
