@import '../../css/scss/abstracts/index';
.loader-container {
  background-color: $color-white;
  min-height: 600px;
  .loader {
    border: 16px solid rgba($color-brand-purple,.5);
    border-top: 16px solid $color-white;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
