.products-mini-list {
  justify-content: center;
  align-items: center  !important;
  align-content: center;
}

.products-mini-list .product-elm {
  width: 100%;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 992px) {
  .products-mini-list .product-elm {
    width: 48% !important;
  }
}

@media (max-width: 768px) {
  .products-mini-list .product-elm {
    width: 100% !important;
    border: 1px solid red;
  }
}
