@import '../../css/scss/abstracts/index';
$transition-elm-width: 352px;
.overlay {
  z-index: 300043540;
  background-color: rgba(#000, 0.4);
  overflow: hidden;
  .transition-elm {
    width: $transition-elm-width;
    background-color: $color-white !important;
    @media (max-width : $transition-elm-width) {
      width: 100%  !important;
    }
  }
}

.inRight {
  right: 0;
  animation: getInRight 0.3s;
}

.inLeft {
   left: 0;
  animation: getInLeft 0.3s;
}


@keyframes getInLeft {
  0% {
    left: -$transition-elm-width;
  }
  100% {
    left: 0 !important;
  }
}

@keyframes getInRight {
  0% {
    right: -$transition-elm-width;
  }
  100% {
    right: 0 !important;
  }
}
