.logo {
    img {
      width: 70px;
      height: 65px;
    }
    span {
      font-weight: 500;
      color: $color-brand-dark;
      font-size: 28px;
      @include responsive(md) {
        display: none;
      }
    }
  }