.product-mini-card {
  max-width: 280px !important;
  padding: 11px;
  z-index: 1000 !important;
  color: $color-white;
  font-weight: 500;
  border: 1px solid $color-white-transparent;
  background-color: transparent;
  opacity: 0.8;
  transition: $transition-speed;
  display: block !important;
  border-radius: 15px;
  cursor: pointer;
  @include responsive(md) {
    max-width: 380px !important;
  }
  &:hover {
    opacity: 1;
     color: $color-white;
  }
  .image {
    width: 100px;
    height: 66px;
    background-color: $color-white;
    border-radius: 12px;
    font: 15px;
    img {
      border-radius: inherit;
    }
  }
  p {
    font-size: 14px !important;
    &::first-letter {
        text-transform: capitalize;
    }
  }
}
.product-mini-card.active {
  background-color: $color-white;
  color: $color-text-3;
  opacity: 1 !important;
}
