@import '../../../css/scss/abstracts/index';
ul.nav-links {
  transition: .3s;
  @include responsive(md) {
    width: 100%;
  }
  @include responsive(sm) {
    flex-direction: column;
  }
  li {
    @include responsive(md) {
      margin-right:  25px !important;
    }
    @include responsive(sm) {
      border-bottom: 1px solid rgba($color-text-2, 0.1);
      margin: 5px 0;
      padding: 15px 20px;

      width: 100%;
      > a {
        display: inline-block;
        width: 100%;
      }
    }
  }
}
