ul.nav-links {
  transition: .3s;
}

@media (max-width: 992px) {
  ul.nav-links {
    width: 100%;
  }
}

@media (max-width: 768px) {
  ul.nav-links {
    flex-direction: column;
  }
}

@media (max-width: 992px) {
  ul.nav-links li {
    margin-right: 25px !important;
  }
}

@media (max-width: 768px) {
  ul.nav-links li {
    border-bottom: 1px solid rgba(90, 91, 117, 0.1);
    margin: 5px 0;
    padding: 15px 20px;
    width: 100%;
  }
  ul.nav-links li > a {
    display: inline-block;
    width: 100%;
  }
}
